absl-py==0.9.0
aif360==0.3.0
aioeasywebdav==2.4.0
aiohttp==3.6.2
alembic==1.4.2
antlr4-python3-runtime==4.8
appdirs==1.4.3
arrow==0.15.6
asciimatics==1.11.0
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1588618038116/work
astor==0.8.0
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
auto-tqdm==1.0.3
ax-platform==0.1.14
backcall==0.2.0
banal==1.0.1
bcrypt==3.1.7
bleach==3.1.5
blessings==1.7
blinker==1.4
bokeh==2.1.0
boltons==20.1.0
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1596232542878/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1596228828083/work
botorch==0.3.0
bravado==10.6.2
bravado-core==5.17.0
brotlipy==0.7.0
cachetools==4.1.0
cachew==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
ConfigArgParse==1.2.3
configobj==5.0.6
configparser==5.0.0
contextlib2==0.5.5
coverage==5.2.1
crc32c==2.0
croniter==0.3.30
cryptography==2.9.2
cycler==0.10.0
cytoolz==0.10.1
dask==2.18.1
databricks-cli==0.11.0
datafreeze==0.1.0
dataset==1.3.1
datrie==0.8.2
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distributed==2.18.0
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1591810140801/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1593588220651/work
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dropbox @ file:///home/conda/feedstock_root/build_artifacts/dropbox_1591811065251/work
dvc==0.54.1
entrypoints==0.3
environments-utils==1.0.2
et-xmlfile==1.0.1
filechunkio==1.8
Flask==1.1.2
fsspec==0.7.4
ftputil @ file:///home/conda/feedstock_root/build_artifacts/ftputil_1592165701929/work
funcy==1.14
future==0.18.2
gast==0.2.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1590897464411/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1595627488735/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1591125360815/work
google-auth==1.14.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1596032458250/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1595624168974/work
google-pasta==0.2.0
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1595530499464/work
googleapis-common-protos==1.52.0
gorilla==0.3.0
gpustat==0.6.0
gpytorch==1.1.1
grandalf==0.6
graphviz==0.14.1
grpcio==1.27.2
gunicorn==20.0.4
h5py==2.8.0
HeapDict==1.0.1
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1590007784658/work
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1593976108036/work
hydra-core==1.0.0rc2
idna==2.9
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.6.1
importlib-resources==3.0.0
inflect==4.1.0
iniconfig==1.0.1
ipykernel==5.3.0
ipython @ file:///tmp/build/80754af9/ipython_1592348411427/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib==0.15.1
json5==0.9.5
jsonpath-ng==1.5.1
jsonpickle==1.4.1
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
jupyter-tensorboard==0.2.0
jupyterlab==2.1.4
jupyterlab-server==1.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
locket==0.2.0
Mako==1.1.3
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1595257250377/work
marshmallow-oneofschema==2.0.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592406090020/work
mistune==0.8.4
mlflow==1.8.0
monotonic==1.5
more-itertools==8.4.0
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
msgpack-python==0.5.6
multidict==4.7.6
multiprocess==0.70.10
munch==2.5.0
mypy-extensions==0.4.3
nanotime==0.5.2
nbconvert==5.6.1
nbformat==5.0.7
neptune-client==0.4.115
neptune-contrib==0+unknown
neptune-notebooks==0.0.16
neptune-tensorboard==0.3.11
networkx==2.4
normality==2.0.0
notebook==6.0.3
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.1rc11
opencv-python==4.2.0.34
openpyxl==3.0.3
opt-einsum==3.1.0
packaging==20.4
-e git+https://github.com/serre-lab/paleoai_data@b52e6dfa5f1975849c9ecf547136e6513ca2878f#egg=paleoai_data
pandas==1.0.4
pandas-summary==0.0.7
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1595950269219/work
parse==1.15.0
parso==0.7.0
partd==1.1.0
path==13.1.0
path.py==12.4.0
pathos==0.2.6
pathspec==0.8.0
pendulum @ file:///home/conda/feedstock_root/build_artifacts/pendulum_1595694473026/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.9.0
pluggy==0.13.1
ply==3.11
pox==0.2.8
ppft==1.6.6.2
prefect @ file:///home/conda/feedstock_root/build_artifacts/prefect_1595367370184/work
prettytable==0.7.2
prometheus-client==0.8.0
prometheus-flask-exporter==0.14.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptvsd==4.3.2
ptyprocess==0.6.0
py==1.9.0
py-cpuinfo==7.0.0
py3nvml==0.2.6
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydantic==1.6.1
pydot==1.2.4
pyfiglet==0.8.post1
Pygments==2.6.1
pygraphviz==1.5
PyJWT==1.7.1
-e git+https://github.com/JacobARose/pyleaves.git@6ba667e7c16509f404cdd1e7b57a5dcd106a6851#egg=pyleaves
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysftp==0.2.9
PySocks==1.7.1
pytest==6.0.1
pytest-cov==2.10.0
python-box==5.1.0
python-dateutil==2.8.1
python-editor==1.0.4
python-irodsclient==0.8.2
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1593573453419/work
pytz==2020.1
pytzdata @ file:///home/conda/feedstock_root/build_artifacts/pytzdata_1594644346367/work
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.7.4
QtPy==1.9.0
querystring-parser==1.2.4
ratelimiter==1.2.0
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3987==1.3.8
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sacred==0.8.1
schema==0.7.2
scikeras==0.1.8
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-optimize==0.7.4
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.0
shortuuid==1.0.1
simpervisor==0.3
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1594928690465/work
six==1.15.0
slacker==0.14.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1588651577140/work
snakemake @ file:///opt/conda/conda-bld/snakemake_1594289489045/work
sortedcontainers==2.2.2
SQLAlchemy==1.3.13
sqlparse==0.3.1
strict-rfc3339==0.7
stuf==0.9.16
swagger-spec-validator==2.7.2
tabulate==0.8.7
tblib==1.6.0
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-addons==0.9.1
tensorflow-datasets==3.1.0
tensorflow-estimator==2.1.0
tensorflow-io==0.11.0
tensorflow-metadata==0.22.2
tensorpack==0.10.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
-e git+https://github.com/JacobARose/tfrecord_utils.git@2e45274e5e2b6c724a47e4c84f8731a88a8a8090#egg=tfrecord_utils
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz==0.10.0
toposort==1.5
torch==1.6.0
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
treelib==1.6.1
typeguard==2.9.1
typer==0.3.1
typing-extensions==3.7.4.1
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.2.4
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.2.0
xmlrunner==1.7.7
xmltodict==0.12.0
yarl==1.5.0
zc.lockfile==2.0
zict==2.0.0
zipp==3.1.0
